.leaflet-container {
  height: 400px;
  width: 80%;
}

.workspace-photos {
  padding: 0px;

}

.section img {
  height: 60vh;
  object-fit: cover;
}

.section {
  padding: 0px;
  overflow: hidden;
  margin-bottom: 1vh
}

.workspace-nav {
  display: flex;
}

.workspace-nav div {
  margin-right: 20px;
}

.text-left {
  text-align: left
}


.workspace-content {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  align-items: center
}