.leaflet-container {
  height: 400px;
  width: 100%;
}

.workspace-photos {
  padding: 0px;
  margin-bottom: 0px;

}

.section img {
  height: 60vh;
  object-fit: cover;
}

.section {
  padding: 0px;
  overflow: hidden;
}

.workspace-header {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  margin-bottom: 0px;
  margin-top: 0px
}

.workspace-nav, .workspace-header {
  background-color: white
}

.workspace-header :nth-child(2) {
  margin-left: auto;
}

.workspace-nav {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  padding-bottom: 2vh;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);

}

.workspace-nav div {
  margin-right: 20px;
}

.text-left {
  text-align: justify;
}

.subtitle:not(:last-child) {
  margin-bottom: 0;
}

#address {
  margin-left: 20vw;
}

.workspace-description {
  margin-bottom : 3vh
}

.workspace-content {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  align-items: center;
}

.sticky-workspace-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
