.leaflet-container {
    height: 800px;
    width: 100%;
  }
  

/* Hide the map if we're on mobile */
@media screen and (max-width: 600px) {
  .leaflet-container {
    height: 600px;
    width: 100%
  }
}