article {
  display: flex;
  height: auto;
  overflow: auto;
  width: 20%;
}


.user-card {
  width: 20%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 10px 10px -2px rgba(0, 0, 0, 0.2);
}

.profile-photo {
  display: block;
  margin: 0 auto;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px
}

.useravatar {
  width: 100%;
  background-color: #0068F5;
  border-radius: 10px 10px 0px 0px;
}

article p {
  color: grey;
  margin: 0px;
}

.close {
  /* position: relative; */
  width: 10%;
  background-color: white;
  margin-left: auto
  /* right: 0; O du right du parent => celui qui a position relative */
  /* top: 0; */
  /* transform: translate(50%, -50%) => décale le rond de 50% de sa largeur et de sa hauter */
}

.userprofile-info {
  display: block;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.userprofile-info h2 {
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: 600;
}

@media (max-width: 480px) {
  article .profile-info {
    padding: 0 30px;
  }
}
