article {
  display: flex;
  height: auto;
  overflow: auto;
  width: 20%;
  padding: 5px;

}

.user-card article {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);

}

.user-card {
  width: 20%;
  background-color: white;
  border-radius: 5px;
}

.profile-photo {
  display: block;
  margin: 0 auto;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.useravatar {
  width: 100%;
}

article p {
  color: grey;
  margin-bottom: 0px;
}

.userprofile-info {
  display: block;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.userprofile-info h2 {
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: 600;
}

@media (max-width: 480px) {
  article .profile-info {
    padding: 0 30px;
  }
}
