.tribe-avatars-section {
    border-radius: 50%;
    width: 13%;
    padding: 2px;
    object-fit: cover;
    object-position: center;
    flex-direction: row;
}

.listingCardTribe {
    margin-left: auto
}