.tribe-avatars-section {
    border-radius: 50%;
    width: 40%;
    padding: 2px;
    object-fit: cover;
    object-position: center;
    flex-direction: row;
}

.listingCardTribe {
    display: flex;
    height: 100%;
    width: 100%
}