.profile-card {
  margin: 3vh 20vw 1vh 20vw;

  padding: 3vh 2vw 3vh 2vw;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
  display: flex;
}

.profile-card p {
  color: black;
}

.profile-content {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.03);
  margin: 2vh 10vw 10vh 10vw;
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.body {
  height: 100vh;
}
